
.countrie{
    border: 1px solid blueviolet;
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
}

.visitedcss{
    background-color:chocolate;
}

.imgcss{
    max-width:160px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}